.login-box{

    height: 100vh;
    width: 100vw;
    display: flex;
    // background-color: #213F7D;
    justify-content: center;
    align-items: center;
   .login-flex{
       display: flex;
       flex-wrap: wrap;
       gap: 7rem;
       justify-content: center;
       align-items: center;
   
       form{
           display: flex;
           flex-direction: column;
           gap: 1rem;
           h1{
               color: #39CDCc;
   
   font-size: 5rem;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: -1.6px;
           }
           h3{
   
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
           }
           .inputs{
            .input{
                font-size: 3rem;
                
               }
           }
       
           .forgot{
               padding: 2rem 0rem;
               color: #39CDCC;
               text-decoration: none;
   text-align: right;
   text-align: left;
   font-size: 12px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   letter-spacing: 1.2px;
   text-transform: uppercase;
   transition: all 0.4s;
   &:hover{
    color: #3F5BF6;
   }
           }
      button{
    display: flex;
     justify-self: center;
       border-radius: 8px;
   background: #39CDCC;
   border: none;
   padding: 1rem 19rem;
   font-weight: 600;
   font-size: 2rem;
   color: #fff;
   transition: all 0.3s;
      }
      button:hover{
       cursor: pointer;
       background-color: #1bb1b1;
      }
       }
   }
   }
   
   @media(max-width:750px){
       .login-container{.svg{
           display: none;
       }}
       img, svg {
           

        display: none;
       }
   }


   .custom_textField{
    font-size: 3rem
   }

   /* spinner.css */
.spinner {
    border: 6px solid  #39CDCC;
    border-top: 6px solid #fff;
    border-radius: 80%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  